.dashboard {
    display: flex;
}

body{
    background-color: #dbdbdb;
}
.menu {
    display: flex;
    width: 24%;
    background-color: #1a1a1a;
    height: 100vh;
    border-right:#f27500 7px solid;
}

.menu .container{
    flex-direction: column;
    color: #dbdbdb;
    padding: 4rem 0;
}

.lista li{
    background-color: transparent;
    margin: 2rem 0;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
    border: #dbdbdb 2px solid;
}

.lista li:hover {
    transform: scale(1.1, 1.1);
    transition: 400ms;
    background-color: #f27500;
}

.lista li:active {
    transform: scale(0.95, 0.95);
}

.sair{
    color: #dbdbdb;
    font-size: 1rem;
    background-color: #d10202;
    padding: 0.7rem 2rem;
    border-radius: 10px;
}