body {
    background-color: #f3f3f3;
    overflow: hidden;
}

/* --------- INSTRUMENTOS ---------- */
.dashboard {
    margin-left: 24%;
}

.content-instrumentos {
    width: 100%;
    padding: 2rem 0;
    width: 100%;
}

.content-instrumentos .container {
    justify-content: center;
    flex-direction: column;
}

.content-musicos .titulo {
    text-align: center;
}

.titulo h2 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #f27500;
}

.tipo-grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    width: 100%;
}

.tipo-grafico button {
    font-size: 1rem;
    padding: 1rem;
    margin-top: 30px;
}

.graficos {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grafico {
    display: none;
    position: relative;
    width: 60%;
    margin-top: 40px;
    padding: 10px;
    animation: aparecer-grafico 500ms ease-in-out;
    box-shadow: 0 0 7px #00000086;

}

@keyframes aparecer-grafico {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.nenhum-cadastrado {
    display: none;
    animation: aparecer-grafico 500ms ease-in-out;
}

.nenhum-cadastrado h2 {
    margin-top: 50px;
    font-size: 1.2rem;
}

.tipo-grafico button {
    font-weight: 500;
    
}

.btnGeral {
    border: 1px solid #3ec5ff;
    color: #3ec5ff;
    box-shadow: 0 0 4px #3ec5ff;
}

.btnGeral:focus,
.btnGeral:hover,
.btnGeral-active {
    background-color: #3ec5ff;
    color: #fff;
}

.btnCordas {
    border: 1px solid #ffb066;
    color: #ffb066;
    box-shadow: 0 0 4px #ffb066
}

.btnCordas:focus,
.btnCordas:hover,
.btnCordas-active {
    background-color: #ffb066;
    color: #fff;
}


.btnMadeiras {
    border: 1px solid #f27500;
    color: #f27500;
    box-shadow: 0 0 4px #f27500
}

.btnMadeiras:focus,
.btnMadeiras:hover,
.btnMadeiras-active {
    background-color: #f27500;
    color: #fff;
}


.btnMetais {
    border: 1px solid #232323;
    color: #232323;
    box-shadow: 0 0 4px #232323
}

.btnMetais:focus,
.btnMetais:hover,
.btnMetais-active {
    background-color: #232323;
    color: #fff;
}

.indicesGrafico {
    margin-top: 30px;
    display: none;
}

.indicesGrafico h2 {
    position: relative;
    box-shadow: 0 0 4px #000;
    background-color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    animation: aparecer-indiceh2 400ms ease-in-out;
    white-space: nowrap;
}

@keyframes aparecer-indiceh2 {
    0% {
        letter-spacing: -10px;
        color: #000;
    }

}
