.instrumentos-banner {
    background-image: url("../assets/imgs/bg-infoInstruments.png");
}

.sec-instrumentos .container {
    flex-direction: column;
    width: 70%;
}

.textoInicial {
    position: relative;
    top: -50px;
    text-align: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.488);
    padding: 3rem;
    background-color: #f5f5f5;
}

.filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filtro h2 {
    color: #6FD6DC;
    font-size: 2.3rem;
}

.filtro-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 30px;
}

.filtro-btns button {
    padding: 15px 20px;
    border-radius: 7px;
    font-size: 1.2rem;
    border: 1px solid #000;

}

.filtro-btns button:hover,
.filtro-btns button:focus,
.active-filtro {
    background-color: #f4c599;
}

.content-instrumento {
    display: none;
    margin-top: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: aparecerContent 600ms cubic-bezier(0.65, 0.05, 0.36, 1);
    margin-bottom: 30px;
}

@keyframes aparecerContent {
    0% {
        opacity: 0;
    }
}

.titulo {
    color: #f4c599;
    font-size: 2rem;
}

.texto {
    margin-top: 1rem;
}

.imagens {
    margin: 50px auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: 260px;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin: 0;

}

.imagem,
.imagem img {
    height: 200px;
    width: 200px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
}

.imagem img {
    object-fit: cover;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nomeImg {
    display: flex;
    position: absolute;
    width: 200px;
    height: 0;
    background-color: #b4927393;
    color: transparent;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    justify-content: center;
    animation: aparecerNome 500ms ease-in-out;
    transition: 500ms;
    pointer-events: none;

}

.imagem:hover .nomeImg {
    height: 200px;
    color: #fff;
}