body {
    overflow: hidden
}

.active-login {
    background-color: #f27500;
}

.sec-login {
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/imgs/bg-login.png");
    background-size: cover;
    background-position:  0 -10px ;
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.effect-box {
    padding: 3px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms all;
    box-shadow: 0px 0px 13px 0px #000;
}


.effect-box::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f27500;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    animation: animate-form 5s linear infinite;
}

.effect-box::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f27500;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    animation: animate-form 5s linear infinite;
    animation-delay: -2.5s;
}

@keyframes animate-form {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.form {
    z-index: 9;
    padding: 2rem;
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 0.5rem;
    border: 1.5px solid #000;
}

.form h2 {
    font-size: 1.5rem;
    color: #dbdbdb;
}

.form-box {
    width: 100%;
    font-size: 1.1rem;
    position: relative;
    margin-top: 35px;
}



.form-box input {
    min-width: 250px;
    font-size: 0.75em;
    width: 100%;
    padding: 7px 20px 7px;
    position: relative;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #f5f5f5;
    z-index: 10;
}

.form-box span {
    position: absolute;
    left: 0;
    padding: 7px 20px;
    color: #808080;
    pointer-events: none;
    transition: 0.5s;
    font-size: 0.8rem;
}

.form-box input:valid~span,
.form-box input:focus~span {
    color: #f5f5f5;
    transform: translateY(-35px);
    font-size: 0.75em;
    font-weight: 500;
}

.form-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #f5f5f5;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.form-box input:valid~i,
.form-box input:focus~i {
    background-color: transparent;
    height: 37px;
    border: 2px solid #f5f5f5;
    border-radius: 5px;
}

.form button {
    background-color: #808080;
    color: #f5f5f5;
    padding: 0.6rem 2rem;
    border-radius: 5px;
    margin-top: 20px;
    transition: 400ms;
    margin-top: 30px;
}

.form button:hover,
.form button:focus {
    background-color: #f27500;
    color: #f5f5f5;
}