body {
    background-color: #f3f3f3;
}

/* --------- MENU ---------- */
.menu {
    position: fixed;
    left: 0;
    display: flex;
    width: 24%;
    height: 100%;
    left: 0;
    background-color: #1a1a1a;
    border-right: #f27500 7px solid;
}

.menu .container {
    flex-direction: column;
    justify-content: space-between;
    color: #dbdbdb;
    padding: 4rem 0;
}

.bem-vindo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.bem-vindo span {
    font-size: 1.2rem;
    font-weight: 700;
    color: #f27500;
}

.lista li {
    background-color: transparent;
    margin: 2rem 0;
    text-align: center;
    padding: 0.7rem;
    border-radius: 10px;
    cursor: pointer;
    border: #dbdbdb 2px solid;
}

.lista li:hover {
    transform: scale(1.1, 1.1);
    transition: 400ms;
    background-color: #f27500;
}

.lista li:active {
    transform: scale(0.95, 0.95);
}

.sair {
    color: #dbdbdb;
    font-size: 1rem;
    background-color: #d10202;
    padding: 0.7rem 2rem;
    border-radius: 10px;
}

/* --------- FIM MENU ---------- */

/* --------- MUSICOS ---------- */
.dashboard {
    margin-left: 24%;
}

.content-musicos {
    width: 100%;
    padding: 2rem 0;
    width: 100%;
}

.content-musicos .container {
    justify-content: center;
    flex-direction: column;
}

.content-musicos .titulo {
    text-align: center;
}

.titulo h2 {
    font-size: 3.2rem;
    font-weight: 600;
    color: #f27500;
}

.musicos-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    padding: 1rem;
}

.pesquisar {
    position: relative;
    width: 50%;
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    padding: 12px 15px;
    overflow: hidden;
}

.pesquisar input {
    padding: 0 10px;
    width: 75%;
}

.adicionar button {
    background-color: #00cf00;
    padding: 12px 15px;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.planilha-musicos {
    margin-top: 30px;
    width: 100%;
}

.tabela-musicos {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
}

.tabela-musicos tr td:first-of-type,
.tabela-musicos tr th:first-of-type {
    padding-left: 2rem;
}

.tabela-musicos th {
    background-color: #f27500;
    color: black;
    text-align: left;
    font-weight: 600;
}

.tabela-musicos th,
td {
    padding: 12px 15px;
}

.tabela-musicos td img {
    height: 30px;
}

.tabela-musicos tr {
    border-bottom: 1px solid #c9c9c9;
}

.tabela-musicos tr:last-of-type {
    border-bottom: 2px solid #f27500;
}

.tabela-musicos .active-bg {
    background-color: #d6d6d6;
}

/* --------- FIM MUSICOS ---------- */

/* --------- Modal  ---------- */
.background-modal {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #1a1a1aad;
    justify-content: center;
}

.modal {
    display: none;
    position: absolute;
    z-index: 2;
    top: 3rem;
    background-color: #f5f5f5;
    animation: surgir-modal 500ms ease;
    min-width: 350px;
    border-radius: 7px;
    overflow: hidden;
}

@keyframes surgir-modal {
    0% {
        transform: translateY(-200%)
    }

    100% {
        transform: translateY(0)
    }
}

.sumirModal {
    animation: sumir-modal 500ms ease;
}

@keyframes sumir-modal {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-200%)
    }
}

.modal-head {
    padding: 0.8rem 2.5rem;
    text-align: center;
    color: #ffffff;
}

.modal-head h2 {
    font-weight: 600;
    font-size: 1.2rem;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
}

.modal-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-box {
    display: flex;
    flex-direction: column;
}

.modal-box input,
select {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    padding: 7px 17px;
    margin-top: 5px;
}

.modal-box input:focus,
select:focus {
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: 300ms ease-in-out;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.modal-buttons {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.modal-buttons button {
    padding: 8px 12px;
    border-radius: 5px;
}

.modal-buttons .btn_cancelar {
    border: 1px solid #d10202;
    color: #d10202;
}

.modal-buttons .btn_adicionar {
    border: 1px solid #00cf00;
    color: #00cf00;
}

.modal-buttons .btn_adicionar:hover,
.btn_adicionar:focus {
    background-color: #00cf00;
    color: #ffffff;
}

.modal-buttons .btn_cancelar:hover,
.btn_cancelar:focus {
    background-color: #d10202;
    color: #ffffff;
}

.modal-adicionar .modal-head {
    background-color: #00bbff;
}

.modal-editar .modal-head {
    background-color: #ffbb00;
    color: #ffff;
}

.modal-buttons .btn_editar {
    border: 1px solid #ffbb00;
    color: #ffbb00;
}

.modal-buttons .btn_editar:hover,
.btn_editar:focus {
    background-color: #ffbb00;
    color: #ffffff;
}

.input-disabled {
    background-color: #e1e1e1;
}

/* --------- FIM Modal ---------- */